.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    gap: 24px;
    border-bottom: 1px solid #363029;
    position: relative;
    transition: all 0.3s ease;
}

.navContainer.immersive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: transparent;
    border-bottom: 1px solid transparent;
}

.navContainer.immersive .tabSwitcher,
.navContainer.immersive .rightLinks,
.navContainer.immersive .leftSection>*:not(:first-child) {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.navContainer.immersive .leftSection button {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navContainer.immersive:hover .leftSection button {
    opacity: 0.05;
    cursor: pointer;
}

.navContainer.immersive .leftSection button:hover {
    opacity: 1;
}

.leftSection {
    position: absolute;
    left: 24px;
    display: flex;
    align-items: center;
}

.tabSwitcher {
    display: flex;
    background: #110C09;
    padding: 4px;
    border-radius: 12px;
    gap: 4px;
    width: fit-content;
    transition: background 0.3s ease;
}

.navContainer.immersive .tabBtn,
.navContainer.immersive .iconLink {
    color: var(--daylight-text-color, #888);
}

.navContainer.immersive .tabBtn.active {
    color: var(--daylight-text-color, white);
    border-color: var(--daylight-text-color, rgba(255, 255, 255, 0.1));
}

.tabBtn {
    background: transparent;
    border: 1px solid transparent;
    color: #888;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px;
    transition: all 0.2s ease;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabBtn:hover {
    color: #ccc;
}

.tabBtn.active {
    color: white;
    border-color: rgba(255, 255, 255, 0.1);
    font-weight: 550;
}

.rightLinks {
    position: absolute;
    right: 24px;
    display: flex;
    align-items: center;
}

.iconLink {
    color: #888;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconLink:hover {
    color: white;
}

.caretBadge {
    position: absolute;
    top: -2px;
    left: -5px;
    background-color: #000000;
    color: #888;
    font-size: 10px;
    font-weight: 600;
    border: 1.5px solid #888;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}